<div class="max-w-[1400px] mx-auto">

<div class="mb-[20px]">
  <span class="text-3xl font-bold mr-[15px]"> 
    <%= link_to "Thư viện", user_books_path%>
  </span>
  <span class="text-3xl font-bold"> 
    <%= link_to "Mượn sách", user_borrowings_path%>
  </span>
</div>

<div class="mb-4">
  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700" %>

</div>

<table class="min-w-full border border-gray-300">
  <thead>
    <tr class="bg-gray-100">
      <th class="border px-4 py-2">Title</th>
      <th class="border px-4 py-2">Author</th>
      <th class="border px-4 py-2">Genre</th>
      <th class="border px-4 py-2">Year</th>
      <th class="border px-4 py-2">Total</th>
      <th class="border px-4 py-2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="border px-4 py-2"><%= book.title %></td>
        <td class="border px-4 py-2"><%= book.author.name if book.author %></td>
        <td class="border px-4 py-2"><%= book.genre.name if book.genre %></td>
        <td class="border px-4 py-2"><%= book.publishing_year %></td>
        <td class="border px-4 py-2"><%= book.quantity_in_stock %></td>
        <td class="border px-4 py-2">

          <%= link_to "Chi tiết", user_book_path(book), class: "text-blue-600 mr-[10px]" %> 
          <%= link_to "Mượn sách", user_borrowings_path, class: "text-green-600 mr-[10px]" %> 
          <%= link_to "Thêm đánh giá", new_user_book_rating_path(book), class: "text-yellow-600" %> 
          <!--
          <%= button_to "Delete", admin_book_path(book), method: :delete, data: { confirm: "Are you sure?" }, class: "text-red-600 hover:underline" %>
          -->

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>

</div>
 </div>
