<h1 class="text-3xl font-bold mb-6 text-gray-800">Chi tiết</h1>
<div class="grid grid-cols-3 gap-10 flex">
  <div class="mb-6 col-span-1 ">
    <span class="h-[300px] w-[400px] object-cover">
      <%= image_tag @book.featured_image if @book.featured_image.attached? %>
    </span>
  </div>

  <div class="mb-4 col-span-2">
    <p><span class="font-semibold text-gray-700 mr-[5px]">Tiêu đề:</span> <%= @book.title %></p>
    <p><span class="font-semibold text-gray-700 mr-[5px]">Phụ đề:</span> <%= @book.subtitle %></p>
    <p><span class="font-semibold text-gray-700 mr-[5px]">Năm xuất bản:</span> <%= @book.publishing_year %></p>
    <p><span class="font-semibold text-gray-700 mr-[5px]">Số lượng:</span> <%= @book.quantity_in_stock %></p>
    <hr class="my-6 border-gray-300">

    <p class="font-semibold text-gray-700 mb-2">Mô tả:</p>
    <p class="whitespace-pre-line text-gray-600"><%= @book.description %></p>

    <hr class="my-6 border-gray-300">
    <p class="text-gray-700"><span class="font-semibold">Tác giả:</span> <%= @book.author.name %></p>
    <hr class="my-6 border-gray-300">
    <p class="text-gray-700"><span class="font-semibold">Thể loại:</span> <%= @book.genre.name %></p>

  </div>
</div>



<hr class="my-6 border-gray-300">


<div class="flex space-x-4 mt-8">
  <%= link_to "Quay lại danh sách", admin_books_path, class: "px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 transition" %>
  <%= link_to "Sửa sách", edit_admin_book_path(@book), class: "px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600 transition" %>
  <%= button_to "Xóa sách", admin_book_path(@book), method: :delete, data: { confirm: "Bạn có chắc muốn xóa sách này?" }, class: "px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 transition" %>
</div>

<div>

</div>