<div class="max-w-[1400px] mx-auto mt-[30px]">

<h2 class="text-2xl font-semibold mb-6">Log in for Admin</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mb-4">
    <%= f.label :email, class: "block text-gray-700 font-medium mb-1" %>
    <%= f.text_field :email, autofocus: true, autocomplete: "text", type: "text",
          class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, class: "block text-gray-700 font-medium mb-1" %>
    <%= f.password_field :password, autocomplete: "current-password", 
          class: "w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="actions mb-[20px]">
    <%= f.submit "Log in", class: "w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition" %>
  </div>

  <%= render "admins/shared/error_messages", resource: resource %>
  <% if flash[:alert] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded mb-4">
      <%= flash[:alert] %>
    </div>
  <% end %>

<% end %>


</div>